<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UI.Properties.Settings.ULM_SGBD_LUG_SAKConnectionString"
            connectionString="Data Source=DESKTOP-PR1OB8V\SQLEXPRESS;Initial Catalog=ULM_SGBD_LUG-SAK;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>